<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action="http://localhost:3000/img" method='post' id="form" enctype="multipart/form-data"> -->
    <form id="form" enctype="multipart/form-data">
    
        <input type="file" name="archivo" id="file" accept="image/*">
        <button type="submit">Cargar</button>
    </form>
    
<script src="/js/guardar.js"></script>
</body>
</html>